* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.nav_container {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  gap: 16px;
  max-width: 1540px;
  width: 100%;
  flex-wrap: wrap;
}

.nav_text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav_text_container a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

header {
  margin: 144px 0 0 0;
  max-width: 100%;
  text-align: center;
}
.search_container_input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.search_container {
  max-width: 1420px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  flex-direction: column;
}
.input_box {
  display: flex;
  justify-content: center;
  align-items: end;
}
#button-every {
  background-color: rgb(255, 230, 6);
  color: #333;
  border: none;
}

input[type="text"] {
  width: 300px;
  padding: 18px 24px;
  border: 1px solid #dfdcdc;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  background-color: #e9e8e8;
}

input[type="text"]:focus {
  outline: none;
  border-color: #b2b5b8;
  background-color: #d1d0d0;
}

.input_button_container {
  margin: 12px 0;
  display: flex;
  gap: 20px;
  padding: 0 12px;
}
.button_container {
  display: flex;
  gap: 18px;
}
.button {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 18px 24px;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  text-decoration: none;
}
#button_search {
  background-color: #dacd17;
  border: none;
  color: #000000;
}
.button:disabled {
  opacity: 0.5;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.button:active {
  background-color: #0039d7;
  border-color: #0039d7;
}
.searchinfo {
  font-size: 16px;
  font-weight: 600;
}
.input_box {
  display: flex;
  gap: 15px;
  font-size: 16px;
  font-weight: 600;
  flex-wrap: wrap;
}
.region_input {
  width: 300px;
  padding: 18px 24px;
  border: 1px solid #dfdcdc;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  background-color: #e9e8e8;
  border: none;
}
.region_input:active {
  border: none;
}
.region_input:hover {
  border: none;
}
.vip_text_container {
  width: 100%;
  max-width: 1400px;
  padding: 10px 0;
  margin: 80px 0 40px 0;
}

input[type="text"]:focus {
  outline: none;
  border-color: #b2b5b8;
  background-color: #d1d0d0;
}

.image_container {
  padding: 0px 10px 80px 10px;
}
.image_davit {
  border-radius: 7px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.container_search {
  display: flex;
  flex-wrap: wrap;
  max-width: 1420px;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.category_box {
  max-width: 1420px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vip_text_contaiener {
  width: 100%;
  max-width: 1400px;
  padding: 10px 0;
  margin: 80px 0 0 0;
}
.category_text_contaiener {
  width: 100%;
  max-width: 1400px;
  padding: 50px 0;
}
.category_JS {
  padding: 26px 3px;
  width: 270px;
  height: 220px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  transition: 0.13s;
}
.category_JS:hover {
  border: 2px solid rgb(226, 226, 226);
  padding: 30px 5px;
  background-color: rgb(247, 244, 244);
}
.category_tex_JS {
  text-align: center;
  height: 70px;
}
.vip_vacancy_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1430px;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 104px 0 0 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.container_category {
  display: flex;
  flex-wrap: wrap;
  max-width: 1430px;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 14px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
#items {
  display: flex;
  flex-wrap: wrap;
  max-width: 1420px;
  width: 100%;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.vip_vacancy_container_JS {
  width: 450px;
  height: 250px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 20px;
  padding: 26px 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  color: grey;
  cursor: pointer;
}
.vip_vacancy_container_JS:hover {
  border: 2px solid rgb(218, 215, 215);
  padding: 24px 16px;
  background-color: rgb(247, 244, 244);
}
.vip_vacancy_image__text__box_JS {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 20px;
  height: 100px;
}
.vip_vacancy_image_text_Js {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: left;
}
.vip_vacancy_text_JS {
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.vip_vacancy_text_JS_box {
  width: 180px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.vacancy__Js_a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.vacancy__Js_a h3 {
  font-size: 17.5px;
}
.vacancy__Js_a h4 {
  color: #0a46e4;
  font-size: 12px;
}

.box_for_vacancy {
  max-width: 1420px;
  width: 100%;
  height: 1700px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 60px 40px 20px 40px;
  align-items: center;
}
.containre_vacancy_for_vacancy {
  max-width: 870px;
  width: 100%;
  background-color: #7e8597;
}
.container_vip_vacancy_for_vacancy {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.fullInfo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1430px;
  width: 100%;
  gap: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.page_click {
  padding: 40px 0;
  display: flex;
  gap: 36px;
  max-width: 1430px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.page_button {
  background-color: #f8ea24;
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  transition: 500ms;
}
.page_button:hover {
  background-color: #d1c406;
}

.container_img_login {
  display: flex;
  flex-wrap: wrap;
  max-width: 1430px;
  width: 100%;
  gap: 140px;
  justify-content: center;
  align-items: center;
}
.input-container_log_in {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.input-container_log_in h1 {
  margin-bottom: 24px;
}
.login-container {
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-top: 40px;
}
#login_button {
  width: 500px;
  padding: 18px 24px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
  background-color: #e6d925;
  cursor: pointer;
}
input[type="login"] {
  width: 500px;
  padding: 24px 24px;
  border: 1px solid #dfdcdc;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  background-color: #e9e8e8;
}

input[type="login"]:focus {
  outline: none;
  border-color: #b2b5b8;
  background-color: #d1d0d0;
}
.login-container {
  font-size: 18px;
  font-weight: 600;
}
.login-container a {
  text-decoration: none;
}
footer {
  height: 286px;
  width: 100%;
  background-color: rgb(49, 49, 157);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 106px;
  color: white;
}
.error {
  text-align: left;
  max-width: 500px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
}
.input-box-container_signup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-container_signup {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.input-container_signup h5 {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}
.signup-container {
  display: flex;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 15px;
}
.signup-container a {
  text-decoration: none;
}
.log_in {
  background-color: #ecdf22;
  padding: 10px;
  border-radius: 12px;
  transition: 500ms;
}
.log_in:hover {
  background-color: #f5eb65;
  padding: 10px;
  border-radius: 10px;
}
.footer_input {
  font-size: 16px;
  font-weight: 600;
}
input[type="gmail"] {
  width: 380px;
  padding: 14px 20px;
  border: 1px solid #dfdcdc;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  background-color: #e9e8e8;
}

input[type="gmail"]:focus {
  outline: none;
  border-color: #b2b5b8;
  background-color: #d1d0d0;
}

.footer_button {
  appearance: button;
  background-color: #dacd17;
  border: 1px solid #1652f0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  border-radius: 12px;
}

.footer_button:hover {
  background-color: #b4a90c;
}
.footer_gmail form {
  display: flex;
  gap: 36px;
  margin: 50px 0;
}
.footer_socialmedia {
  display: flex;
  max-width: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer_image_box {
  background-color: white;
  border-radius: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer_image {
  width: 18px;
  height: 32px;
  padding: 2px;
  object-fit: contain;
}

@media (max-width: 768px) {
  footer {
    height: auto;
    padding: 20px;
  }

  .footer_input {
    width: 100%;
  }

  input[type="gmail"] {
    width: 100%;
  }

  .footer_socialmedia {
    max-width: none;
    flex-wrap: wrap;
  }

  .footer_image_box {
    margin-right: 8px;
  }
}
.image_login_container {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .input_button_container {
    margin: 12px 0;
    gap: 20px;
    padding: 0 6px;
  }
  input[type="text"] {
    width: 200px;
    padding: 10px 12px;
  }

  .button {
    padding: 2px 20px;
  }

  .vip_vacancy_container_JS {
    width: 400px;
    height: 250px;
    margin: 0 10px;
  }
  .category_box {
    flex-direction: column;
  }

  header {
    display: none;
  }
  .button_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container_vip_vacancy_for_vacancy {
    display: none;
  }
}
@media only screen and (max-width: 900px) {
  .image_login_container {
    display: none;
  }
}
